// $theme-colors: (
//     "primary": #84329b,
//     "secondary": #02bceb
// );

$body-bg:       #333;
$body-color:    #999;
$border-radius: 1px;
$brand-primary: #3333cc;
$brand-success: #11cc11;
$brand-info:    cyan;
$brand-warning: #334455;
$brand-danger:  #cc1111;


$font-family-sans-serif:Tahoma, Geneva, sans-serif;

@import "~bootstrap/scss/bootstrap";
